<br>
<div class="p-5 mb-4 bg-light rounded-3">
  <h1 class="display-1 text-center">Hello and welcome to my contact book app!</h1>
  <p class="lead text-center">If you would like to save your contacts, please sign up!</p>
</div>
