<p style="color: green"></p>

<div class="p-5 mb-4 bg-light rounded-3">
  <%= render @contact %>
  <%= link_to "Edit", edit_contact_path(@contact), class: "btn btn-secondary" %> |
  <%= link_to "Back", contacts_path, class: "btn btn-secondary" %>
</div>
